:root{
    --primary:#e95d00;
    --gray-1:#8a5c5c;
    --gray-2:#ecc570;
    --font-family: 'Montserrat', sans-serif;
    --box-shadow:0 6px 9px 0 rgba(0,0,0,0.15);
    --box-shadow-nav:0 2px 18px 0 rgba(0,0,0,0.22);
    --text-color: #444;
    
}